# sprint - 3 (challenge)

### Task 1 - spell bee competition (add 5 more student names)

In [7]:
data= ["Mark Antony","John Chan","Bret Lee","Jim Nick","Janice Ken","Florida Thomson","Lily Jason","Matt Antony","Mark Thomas",
      "Kenny Peterson","Joe Cook","Alexander Thomas","Katy Perry","Alexanderia Peterson","Mark Antony"]

In [11]:
for i in range(5):
    names=input("Enter the name: ")
    data.append(names)

Enter the name: Sanjay
Enter the name: Surya
Enter the name: Janu
Enter the name: Ram
Enter the name: Karthi

In [12]:
print(data,end=" ")

['Mark Antony', 'John Chan', 'Bret Lee', 'Jim Nick', 'Janice Ken', 'Florida Thomson', 'Lily Jason', 'Matt Antony', 'Mark Thomas', 'Kenny Peterson', 'Joe Cook', 'Alexander Thomas', 'Katy Perry', 'Alexanderia Peterson', 'Mark Antony', 'Sanjay', 'Surya', 'Janu', 'Ram', 'Karthi']

interpretation - Here in this program we have added the extra names of the 5 students and Here is the output of the total name of the students who are going to participate in the competition

### Task 2 - juliya wants to check the names of the student who signed up later for the competition

In [13]:
print(data)

['Mark Antony', 'John Chan', 'Bret Lee', 'Jim Nick', 'Janice Ken', 'Florida Thomson', 'Lily Jason', 'Matt Antony', 'Mark Thomas', 'Kenny Peterson', 'Joe Cook', 'Alexander Thomas', 'Katy Perry', 'Alexanderia Peterson', 'Mark Antony', 'Sanjay', 'Surya', 'Janu', 'Ram', 'Karthi']

In [14]:
data.reverse()
print(data)

['Karthi', 'Ram', 'Janu', 'Surya', 'Sanjay', 'Mark Antony', 'Alexanderia Peterson', 'Katy Perry', 'Alexander Thomas', 'Joe Cook', 'Kenny Peterson', 'Mark Thomas', 'Matt Antony', 'Lily Jason', 'Florida Thomson', 'Janice Ken', 'Jim Nick', 'Bret Lee', 'John Chan', 'Mark Antony']

interpretation - Here are the names of the students , who signed up lately for the competition

### Task 3 - without using in bulit function

In [24]:
data= ['Mark Antony', 'John Chan', 'Bret Lee', 'Jim Nick', 'Janice Ken', 'Florida Thomson', 'Lily Jason', 'Matt Antony',
 'Mark Thomas', 'Kenny Peterson', 'Joe Cook', 'Alexander Thomas', 'Katy Perry', 'Alexanderia Peterson', 'Mark Antony', 
 'Sanjay', 'Surya', 'Janu', 'Ram', 'Karthi']

In [28]:
print(data[-5:],end=" ")

['Sanjay', 'Surya', 'Janu', 'Ram', 'Karthi']

Interpretation - Here is the output of the students who signed up lately without using in built function

### Task 4 - check whether is there any name is repeated and create a new list as final list

In [21]:
print(data)

['Mark Antony', 'John Chan', 'Bret Lee', 'Jim Nick', 'Janice Ken', 'Florida Thomson', 'Lily Jason', 'Matt Antony', 'Mark Thomas', 'Kenny Peterson', 'Joe Cook', 'Alexander Thomas', 'Katy Perry', 'Alexanderia Peterson', 'Mark Antony', 'Sanjay', 'Surya', 'Janu', 'Ram', 'Karthi']

In [22]:
final_list = ['Mark Antony', 'John Chan', 'Bret Lee', 'Jim Nick', 'Janice Ken', 'Florida Thomson', 'Lily Jason', 
              'Matt Antony', 'Mark Thomas', 'Kenny Peterson', 'Joe Cook', 'Alexander Thomas', 'Katy Perry', 
              'Alexanderia Peterson', 'Sanjay', 'Surya', 'Janu', 'Ram', 'Karthi']

In [23]:
print(final_list)

['Mark Antony', 'John Chan', 'Bret Lee', 'Jim Nick', 'Janice Ken', 'Florida Thomson', 'Lily Jason', 'Matt Antony', 'Mark Thomas', 'Kenny Peterson', 'Joe Cook', 'Alexander Thomas', 'Katy Perry', 'Alexanderia Peterson', 'Sanjay', 'Surya', 'Janu', 'Ram', 'Karthi']

Interpretation - Here in this task ,"Mark Antony" name is repeated, so i took it out ans created a new list name as final_list

### Task 5 - Display the names of the students in alphabetical order

In [32]:
print(final_list)

['Mark Antony', 'John Chan', 'Bret Lee', 'Jim Nick', 'Janice Ken', 'Florida Thomson', 'Lily Jason', 'Matt Antony', 'Mark Thomas', 'Kenny Peterson', 'Joe Cook', 'Alexander Thomas', 'Katy Perry', 'Alexanderia Peterson', 'Sanjay', 'Surya', 'Janu', 'Ram', 'Karthi']

In [33]:
final_list.sort()
print(final_list)

['Alexander Thomas', 'Alexanderia Peterson', 'Bret Lee', 'Florida Thomson', 'Janice Ken', 'Janu', 'Jim Nick', 'Joe Cook', 'John Chan', 'Karthi', 'Katy Perry', 'Kenny Peterson', 'Lily Jason', 'Mark Antony', 'Mark Thomas', 'Matt Antony', 'Ram', 'Sanjay', 'Surya']

Interpretation - Here is the output , in which i have arranged the names of students  in alphabetical order

### Task 6 - identify the index position

In [37]:
final_list = ['Alexander Thomas', 'Alexanderia Peterson', 'Bret Lee', 'Florida Thomson', 'Janice Ken', 'Janu', 'Jim Nick', 
              'Joe Cook', 'John Chan', 'Karthi', 'Katy Perry', 'Kenny Peterson', 'Lily Jason', 'Mark Antony', 'Mark Thomas',
              'Matt Antony', 'Ram', 'Sanjay', 'Surya']
len(final_list)

19

In [38]:
final_list[1]

'Alexanderia Peterson'

In [39]:
final_list[11]

'Kenny Peterson'

In [40]:
final_list[18]

'Surya'

In [41]:
winners_list = ['Alexanderia Peterson','Kenny Peterson','Surya']

In [42]:
print(winners_list)

['Alexanderia Peterson', 'Kenny Peterson', 'Surya']

Interpretation - Here in this task ,i have identified the index value for the winners and then displayed the names of the student in a different list name as winners_list

### Task 7 - To count the number of integers

In [43]:
#count the numbers of integers between 555 to 678 divisible by 7

In [50]:
count=0
for i in range(555,678):
    if i%7 ==0:
        count+=1
print("count of integer divisible by 7 :",count)

count of integer divisible by 7 : 17

Interpretation - here is the output for the count the numbers of integers between 555 to 678 divisible by 7.

### Task 8 - Programs that print 30 natural number but skip the numbers multiples by n

In [58]:
n =int(input("Enter the value of n: "))
count =0
num =1

for i in range(1,31):
    if num % n !=0:
        print(num, end=" ")
        count +=1
    num +=1

Enter the value of n: 5
1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19 21 22 23 24 26 27 28 29

Interpretation - Here is the output for the  Programs that print 30 natural number but skip the numbers multiples by n.

### Task 9 -

In [1]:
firstlist = [1,21,3,4,5,6,7,18,4]
secondlist = [19,1,17,6,15,14,13,2,11]

In [2]:
thirdlist = []

In [4]:
for i in range(len(firstlist)):
    sum = firstlist[i]+secondlist[i]
    thirdlist.append(sum)
print("thirdlist = ",thirdlist)

thirdlist =  [20, 22, 20, 10, 20, 20, 20, 20, 15]

Interpretation - Here i have added the firstlist and secondlist to the corresponding elements and i have place the output in the name of thirdlist