## Sprint 3 (practice)

### Task 1 - Searching a list

In [16]:
mynames='''["Joe","Zoe","World","Brad","Angelina","World","Zuki","Tom","Paris","World","Magic"]'''
if ("USA" in mynames):
    print("True")
else:
    print("False")

False

interpretation - Here the output is false because USA doesn't exists in mynames

### Task 2 - frequency counts of element in the list

In [6]:
mynames = ["Joe", "Zoe", "World", "Brad", "Angelina", "World", "Zuki", "Tom", "Paris", "World", "Magic"]
count=mynames.count("World")
print("count of world=",count)

count of world= 3

interpretation - the world exists 3 times in mynames

### Task 3 - Looping over a list

In [1]:
numlist=list(range(1,30))
even_count=0
odd_count=0
for num in numlist:
    if num % 2==0:
        even_count +=1
        
    else:
        odd_count +=1
        
print("Total even numbers:",even_count)
print("Total odd numbers:",odd_count)

Total even numbers: 14
Total odd numbers: 15

interpretation - Here in this task there are 14 even numbers and 15 odd numbers.

### Task 4 - Appending element to a list

In [68]:
numlist =[range(1,30)]

In [57]:
for i in range(2,30,2):
    print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28

In [63]:
el=[]
el.append(2)
el.append(4)
el.append(6)
el.append(8)
el.append(10)
print(el)

[2, 4, 6, 8, 10]

interpretation - in this task , we have add first 5 even numbers in the range of (1,30).we have add the even numbers in new list name as el=[] ,by using append() function we have to add the value for the list

### Task 5 - Arithmetic operation on list element

In [2]:
numlist =[range(1,30)]

for num in range(1,30,2):
    print(num,end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29

In [12]:
num=[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29 ]
num[-2:]

[27, 29]

interpretation - Here is the output for the last two odd numbers

### Task 6 - Appending two lists

In [3]:
x=[]
y=[]

In [4]:
for i in range(5):
    string=input("Enter the string: ")
    x.append(string)
    
for i in range(3):
    number=int(input("Enter the number: "))
    y.append(number)
    
x.extend(y)    
print("both x and y combined list= ",x)

Enter the string: a
Enter the string: b
Enter the string: c
Enter the string: d
Enter the string: e
Enter the number: 1
Enter the number: 2
Enter the number: 3
both x and y combined list=  ['a', 'b', 'c', 'd', 'e', 1, 2, 3]

interpretation - Her is the output for appending of two lists,the x[list]contains of 5 string values and the y[lists]consists of 3 integer values and then last combined both the list by using extend()function.

### Task 7 - populating elements in a list

In [4]:
list_a=[]
list_b=[]

In [7]:
for i in range(1,11):
    list_a.append(i*i)

In [8]:
print(list_a,end=" ")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
for i in range(30,41):
    list_b.append(i*i)

In [10]:
print(list_b,end=" ")

[900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600]

interpretation - Here is the output for square of the elements present in list_a and list
-b

### Task 8 - iterations in python using for loop

In [13]:
n=int(input("Enter the number: "))
for i in range(1,11):
    print(n,"*",i,n*i)

Enter the number: 5
5 * 1 5
5 * 2 10
5 * 3 15
5 * 4 20
5 * 5 25
5 * 6 30
5 * 7 35
5 * 8 40
5 * 9 45
5 * 10 50

interpretation - Here is the output for,iteration in python using for loop