# Sprint 1 (Practice)

## Task 1- Creating variables

1) a)Create a variable name rollno and assign a integer value to it

In [1]:
rollno=14

In [2]:
rollno

14

In [3]:
id(rollno)

140705348424904

In [4]:
type(rollno)

int

1) b)create a variable firstname and assign astring value to it

In [39]:
firstname="Krithik"

In [40]:
firstname

'Krithik'

In [41]:
id(firstname)

1707560289200

In [42]:
type(firstname)

str

1) c)Create a variable lastname and assign a string value to it

In [9]:
lastname="Roshan"

In [10]:
lastname

'Roshan'

In [11]:
id(lastname)

2227222628528

In [12]:
type(lastname)

str

1) d)Create a variable maxmarks and assign a value 50 to it

In [15]:
maxmarks=50

In [16]:
maxmarks

50

In [17]:
id(maxmarks)

140705348426056

In [18]:
type(maxmarks)

int

##  Task 2- Naming a variable

2) a)

In [19]:
var1=2

In [20]:
var1

2

2) b)

In [21]:
2var=2

SyntaxError: invalid decimal literal (1729216075.py, line 1)

2) c)

In [22]:
var 1=2

SyntaxError: invalid syntax (3073352835.py, line 1)

2) d)

In [23]:
var$2=2

SyntaxError: invalid syntax (661466017.py, line 1)

## Task 3- Assigning values to a variable

3) a)

In [24]:
Class=15

In [25]:
Class

15

3) b)

In [26]:
class=14

SyntaxError: invalid syntax (1944381924.py, line 1)

3) c)

In [27]:
DEF=13

In [28]:
DEF

13

3) d)

In [29]:
def=12

SyntaxError: invalid syntax (1379353252.py, line 1)

3) e)

In [30]:
a=TRUE

NameError: name 'TRUE' is not defined

3) f)

In [31]:
b=false

NameError: name 'false' is not defined

## Task 4 - Using id()

4) a)Create a variable name marks and assign a float value

In [32]:
marks=76.55

In [33]:
marks

76.55

In [34]:
id(marks)

2227220556176

In [35]:
type(marks)

float

4) b)change the value in the variable to other float value

In [36]:
marks=60.11

In [37]:
marks

60.11

In [38]:
id(marks)

2227220560912

In [39]:
type(marks)

float

4) c)Is the id for the mark variable in last two questions is same or different. Explain with justification

In the above last two questions the id for the variable marks is different because the id can't be same ,
it the stored location of the data ,so that they are different.

## Task 5- Formatting the output

5) a)Define variable maxmarks and assign it as 100

In [43]:
maxmarks=100

In [44]:
marks=60

In [108]:
percentage=(marks/maxmarks)*100

In [109]:
print(percentage,"%")

60.0 %

5) b)print the value of the variable fullname by joining firstname and lastname

In [99]:
firstname="Krithik"
lastname="Roshan"
fullname="Krithik"+" Roshan"

In [100]:
print(fullname)

Krithik Roshan

5) c)print the value of variable fullname with the text "scored" followed by the percentage of marks

In [110]:
print(firstname,"scored",percentage)

Krithik scored 60.0

## Task 6 - Creating data structures

6) a)use the variable rollno as key and the variable fullname as a value to cerate a dictionary data

In [11]:
s={rollno:fullname}

In [12]:
print(s)

{14: 'Krithik Roshan'}

6) b)use the variable rollno,fullname and marks asthe value to create a list data structure

In [23]:
rollno=14
fullname='Krithik Roshan'
marks=76.55

In [24]:
san=[rollno,fullname,marks]

In [25]:
print(san)

[14, 'Krithik Roshan', 76.55]

## Task 7 - Arithmetic operation

Execute the following expression

a)

In [26]:
1+"2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Here , we can't use ("")double quotes for integer , we can use it for string values, the is consider as a string,so it displaying error

b)

In [27]:
"1"+"2"

'12'

here, in this task we have used ("") double quotes for both the value . it consider as a string value ,so here it has concatenation both values

c)

In [28]:
1/2

0.5

its a normal type of division

d)

In [30]:
1//2

0

its called as a floor division

## Task 8 - Execute the following command

a)

In [31]:
True and True

True

Here, we used (and) operator ,it will shows true when both the values are satisfied

b)

In [32]:
True and False

False

Here, we used (and) operator , it will display the output s true when both the values are satisfied or else false

c)

In [33]:
False or True

True

Here, we have used (or) operator, in this operator either one value satisfied it will show the result as true

e)

In [35]:
False or False

False

Here, we have used (or) operator, in this operator either one value satisfied it will show the result as true or else false

## Task 9 - identify and membership operations

In [44]:
firstname in fullname

True

a) Here it satisfies the value because the firstname in the fullname so that here it shows the result as true

In [45]:
firstname is fullname

False

b) Here it does not satisfies because firstame is not the fullname ,it's the part of the name

## Task 10 - Associativity

In [47]:
a=4
b=3
c=2

a) print the value of d

In [49]:
d=a**b+c

In [50]:
print(d)

66

b)print the value of e

In [52]:
e=a**(b+c)

In [53]:
print(e)

1024

c) Here in d and e ,both the answers are different because in d first the (4)3 and then it added the value 2 total =66
but e first it added the value of b+c because the ()paranthesis will be given first preference here,4+2=6 and then (4)6=1024