## Sprint 4 (practice)

### Task 1 - Factorial of a number

In [2]:
num=int(input("Enter the number: "))
factorial=1
while (num>0):
    factorial=factorial*num
    num=num -1
print("The Factorial of a number is: ",factorial)

Enter the number: 5
The Factorial of a number is:  120

interpretation - Here is the output for the factorial of a number

### Task 2 - prime numbers

In [29]:
n=int(input("Enter the number: "))

i=2

while i<n:
    
    if (n%i)==1:
        
        print("it's a prime number",n)
        break
    else:
        
        print("it's not a prime number",n)
        break

Enter the number: 51
it's a prime number 51

Interpretation - 50 is not a prime number , 51 is a prime number.

### Task 3 - Sum of all digits

In [51]:
a = []
sum = 0

for i in range(5):
    num=int(input("Enter the numbers:"))
    a.append(num)
print(a)

Enter the numbers:12
Enter the numbers:234
Enter the numbers:2
Enter the numbers:3
Enter the numbers:4
[12, 234, 2, 3, 4]

In [52]:
for i in a:
    sum = sum+i
print(sum)

255

### Task 4 - Fibonacci series

In [8]:
a = int(input("Enter the number:"))
num1 = 0
num2 = 1
next_num = num2
count = 1
while count<= a:
    print(next_num,end = " ")
    count +=1
    num1,num2 = next_num,num1+num2
    next_num = num1+num2
    
print()

Enter the number:4
1 2 4 8

### Task 5 - Adding two tuples

In [25]:
t1=(1,2,3)
t2=(4,5,6)

In [26]:
id(t1)

2204270628160

In [27]:
id(t2)

2204270639808

In [28]:
t1=t1+t2

In [29]:
id(t1)

2204246168128

In [30]:
id(t2)

2204270639808

Interpretation - Here ,in first we have identify the id's of both tuples t1 and t2 . and then we have insert the t1 and t2 in t1 but there is no output is established but ther is a changes in the id() of t1 it's because we have inserted t1 and t2 into t1,that's why the changes is.

### Task 6 - Inserting data into sets

In [33]:
m = {10,20,30,40,50}
n = [33,40,55,60,70]

In [39]:
m.add(33)

In [40]:
m

{10, 20, 30, 33, 40, 50}

In [41]:
m.add(40)

In [42]:
m

{10, 20, 30, 33, 40, 50}

In [43]:
m.add(55)

In [44]:
m

{10, 20, 30, 33, 40, 50, 55}

In [45]:
m.add(60)

In [46]:
m

{10, 20, 30, 33, 40, 50, 55, 60}

In [47]:
m.add(70)

In [49]:
m

{10, 20, 30, 33, 40, 50, 55, 60, 70}

Interpretation - Here , we have one set as m = {} and one n = [] list . we have to add the elements from list to set by using add() function . here in the set if there are any common value accures it will remove the duplicate .for example : here we have 40 in the list and the set but when we add 40 from list it removes because already there is 40 present in the set ,its an in build function , that the set will remove the duplicate entrys

### Task 7 - Iterating over a dictionary data structure

In [7]:
Data_set = {}
size = int(input("Enter the size :"))
i = 0

while i<size:
    
    language = input("Enter the language: ")
    num = int(input("Enter the num : "))
    Data_set[language] = num
    
    i = i + 1
    
print("Data_set = ",Data_set)

Enter the size :4
Enter the language: Python
Enter the num : 1
Enter the language: Data
Enter the num : 2
Enter the language: Excel
Enter the num : 3
Enter the language: SQL
Enter the num : 4
Data_set =  {'Python': 1, 'Data': 2, 'Excel': 3, 'SQL': 4}

In [16]:
for key,value in Data_set.items():
    if value % 2==0:
        
        print(f"{key}:{value}")

Data:2
SQL:4

Interpretation - Here in this task ,i have performed how get input from user and create a dictionary and then how to get a value of even numbers by using for loop.Here is the output

### Task 8 - Populating a dictionary data structure

In [52]:
D_set = {}

for i in range(1,16):
    D_set[i] = i * i 
    print(i,":",i*i," , ",end="")

1 : 1  , 2 : 4  , 3 : 9  , 4 : 16  , 5 : 25  , 6 : 36  , 7 : 49  , 8 : 64  , 9 : 81  , 10 : 100  , 11 : 121  , 12 : 144  , 13 : 169  , 14 : 196  , 15 : 225  ,

In [55]:
D_set.update({100:10000})

In [56]:
print(D_set)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 100: 10000}

Interpretation - Here i have added a key and value to dictionary{} and then update the dictionary and added a element of {100: 10000}.