# Sprint 5 - Practice

### Task 1 - Checking if a word is a palindrome

In [1]:
def palindrome(word):
    # Convert the word to lowercase to ignore capitalization
    word = word.lower()
    
    return word == word[::-1]

user_input = input("Enter a word: ")

if palindrome(user_input):
    print(f"{user_input} is a palindrome.")
else:
    print(f"{user_input} is not a palindrome.")

Enter a word: dad
dad is a palindrome.

interpretation - Here is the program to check, whether the given word is palindrome or not

### Task 2 - Sorting words

In [2]:
def sort_words():
    words = input("Enter the words with space betwwen next words: ").split()
    words.sort()
    print(words)

sort_words()

Enter the words with space betwwen next words: apple mango orange strawberry
['apple', 'mango', 'orange', 'strawberry']

Interpretation - Here is the output of sorting the given words by user by arranging it in alphabatical order

### Task  3 - Converting characters to a string

In [9]:
def string():
    characters = input("Enter the character and split by , :").split(",")
    combine = "".join(characters)
    print(combine)
string()

Enter the character and split by , :a,p,p,l,e
apple

Interpretation - Here i have joined the characters and made as a string by using join operator.

### Task 4 - Picking up the large and smallest element

In [16]:
def numbers():
    num_str = input("Enter the numbers separated by commas: ")
    num_list = [int(x) for x in num_str.split(",")]
    num_list.sort()
    
    min_num = num_list[0]  # The first element after sorting is the minimum
    max_num = num_list[-1]  # The last element after sorting is the maximum
    
    print("The entered numbers are:", num_list)
    print("Minimum number:", min_num)
    print("Maximum number:", max_num)

numbers()

Enter the numbers separated by commas: 1,3,2,6,4,5,7,9,10,8
The entered numbers are: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Minimum number: 1
Maximum number: 10

Interpretation - Here , i have find out the minimum and maximum numbers from 1 to 10 by using min() and max() functions

### Task  5 - Searching a dictionary

In [5]:
data = {
    'item 1': 45.50,
    'Item 2': 35,
    'item 3': 41.30,
    'Item 4': 29,
    'Item 5': 49.89
}  
max_value = max(data.values())
min_value = min(data.values())

print("max_value = ",max_value)
print("min_value = ",min_value)

max_value =  49.89
min_value =  29

Interpretation - I have taken the max_value and min_value from the above data

### Task 6  - Generating profile card

In [7]:
def f1(name,age,gender,occupation):
    
    print("Name : ",name)
    print("Age : ",age)
    print("Gender : ",gender)
    print("Occupation : ",occupation)
    return

In [8]:
f1("Sanjay",20,"Male","Data_Analyst")

Name :  Sanjay
Age :  20
Gender :  Male
Occupation :  Data_Analyst

INterpretation - here is the profile card that i have generated bu using user defined function

### Task 7 - Sorting color frequency in tuples

In [19]:
def sort_color():
    color = [('black',4),('green',1),('red',5),('blue',2),('yellow',3)]
    colors = sorted(color , key=lambda x:x[1])
    print("colors = ",colors)
sort_color()

colors =  [('green', 1), ('blue', 2), ('yellow', 3), ('black', 4), ('red', 5)]

Interpretation - Here i have sorted the given data in ascending order

### task 8 - Common data elements in two lists

In [21]:
a = ["Andy","Mandy","Sandy"]
b = ["Handy","Burgundy","Andy"]

common  = list(filter(lambda x: x in b,a))
print("The common element is ",common)

The common element is  ['Andy']

Interpretation - Here i have identified  the common element in the list of both a and b

### Task  9 - Map function with lambda expression

In [22]:
c = [12,14,14]
d = [17,16,17]

add_elements = list(map(lambda x , y : x + y ,c,d))
print(add_elements)

[29, 30, 31]

Interpretation - Here i have addaed the elements in c and d with their correspond9ing element bu using map and lambda funtions